In [1]:
from bs4 import BeautifulSoup 
import requests 
import pandas as pd
import csv

In [2]:

# teamQualified = {'6':'India'}
# teamResultTally = {'India':0,'Australia':0}
# urls = []
# # results = []
# for i,j in teamQualified.items():
#     url = f"https://www.espncricinfo.com/team/{j}-{i}/match-schedule-fixtures-and-results"
#     urls.append(url)


# for u in urls:
#         response = requests.get(u)
#         htmlcontent = response.content
#         soup = BeautifulSoup(htmlcontent,"html.parser")
        
# #         print(u)
#         for a in soup.find_all('div',attrs={'class':'ds-text-compact-xxs'}):
#             result = soup.find_all('p',attrs = {'class':'ds-text-tight-s ds-font-regular ds-line-clamp-2 ds-text-typo-title'})

# for r in result: 
#     print(r.text)

In [3]:
players = []
ranking = []
results = []

url = "http://www.relianceiccrankings.com/ranking/odi/batting/"

response = requests.get(url)
htmlcontent = response.content
soup = BeautifulSoup(htmlcontent,"html.parser")
        
for a in soup.find_all('tr'):
        player = soup.find_all('a',attrs={'class':'players'})
        c= 0
        for p in player:
            players.append(p.text)
            c+=1
            ranking.append(str(c))
        break

results.append(ranking)
results.append(players)

res = list(zip(*results))

print(res)

[('1', ' Babar Azam'), ('2', ' Imam-ul-Haq'), ('3', 'Rassie van der Dussen'), ('4', 'Quinton de Kock'), ('5', 'David Warner'), ('6', 'Steve Smith'), ('7', 'Jonny Bairstow'), ('8', 'Virat Kohli'), ('9', 'Rohit Sharma'), ('10', 'Kane Williamson'), ('11', ' Fakhar Zaman'), ('12', 'Shai Hope'), ('13', 'Joe Root'), ('14', 'Paul Stirling'), ('15', 'Shreyas Iyer'), ('16', ' Tamim Iqbal'), ('17', 'Tom Latham'), ('18', 'Jason Roy'), ('19', 'David Miller'), ('20', ' Mushfiqur Rahim'), ('21', 'Shikhar Dhawan'), ('22', 'Aaron Finch'), ('23', 'Alex Carey'), ('24', 'Martin Guptill'), ('25', 'Glenn Maxwell'), ('26', ' Rahmat Shah'), ('27', 'Harry Tector'), ('28', 'Nicholas Pooran'), ('29', 'Travis Head'), ('30', 'Liton Liton Das'), ('31', 'Jos Buttler'), ('32', ' Sikandar Raza'), ('33', 'Kariyawasa Asalanka'), ('34', ' Shakib Al Hasan'), ('35', ' Mahmudullah'), ('36', 'Gerhard Erasmus'), ('37', ' Ishan Kishan'), ('38', 'Lokesh Rahul'), ('39', 'Shubman Gill'), ('40', 'Calum MacLeod'), ('41', ' Najibullah Zadran'), ('42', 'Kyle Coetzer'), ('43', ' Haris Sohail'), ('44', 'Andrew Balbirnie'), ('45', 'Assad Vala'), ('46', 'Kusal Mendis'), ('47', 'Monank Patel'), ('48', 'George Munsey'), ('49', ' Ibrahim Zadran'), ('50', 'Janneman Malan'), ('51', 'Aqib Ilyas'), ('52', 'Hashmatullah Shahidi'), ('53', 'Aaron Jones'), ('54', 'Sean Williams'), ('55', 'Avishka Fernando'), ('56', 'Aiden Markram'), ('57', 'Henry Nicholls'), ('58', 'Heinrich Klaasen'), ('59', 'Rahmanullah Gurbaz'), ('60', 'Shimron Hetmyer'), ('61', 'Scott Edwards'), ('62', 'Kusal Perera'), ('63', ' Zeeshan Maqsood'), ('64', 'Finn Allen'), ('65', ' Jatinder Singh'), ('66', 'Danushka Gunathilaka'), ('67', 'Angelo Mathews'), ('68', 'Mohammad Mohammad Nabi'), ('69', 'Richard Berrington'), ('70', 'Marnus Labuschagne'), ('71', ' Imad Wasim'), ('72', 'Vriitya Aravind'), ('73', 'Hardik Pandya'), ('74', 'Dhananjaya de Silva'), ('75', 'Tom Cooper'), ('76', 'Marcus Stoinis'), ('77', 'Steven Taylor'), ('78', 'Temba Bavuma'), ('79', ' Sarfaraz Ahmed'), ('80', 'Evin Lewis'), ('81', 'R.K. Paudel'), ('82', 'Dasun Shanaka'), ('83', 'Mitchell Santner'), ('84', ' Soumya Sarkar'), ('85', 'Jimmy Neesham'), ('86', 'Mitchell Marsh'), ('87', 'Rishabh Pant'), ('88', 'Shamarh Brooks'), ('89', 'Niroshan Dickwella'), ('90', ' Mehidy Hasan'), ('91', 'Michael Leask'), ('92', "Max O'Dowd"), ('93', 'Craig Ervine'), ('94', 'Sanju Samson'), ('95', 'Colin de Grandhomme'), ('96', ' Mohammad Rizwan'), ('97', 'Philip Salt'), ('98', 'Dawid Malan'), ('99', 'Gajanand Singh'), ('100', 'Pathum Nissanka')]

In [4]:
teams = []
ranking = []
results = []

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

response = requests.get(url)
htmlcontent = response.content
soup = BeautifulSoup(htmlcontent,"html.parser")
        
for a in soup.find_all('tr'):
        team = soup.find_all('span',attrs={'class':'u-hide-phablet'})
        c = 0
        for t in team:
            c+=1
            teams.append(t.text)
            ranking.append(str(c))
        break

results.append(ranking)
results.append(teams)

res1 = list(zip(*results))
#print(res1)
list1=[]
for r in res1:
     list1.append(list(r))
#print(list1)
list1[17][1]='U.S.A.'
print(list1)

[['1', 'New Zealand'], ['2', 'England'], ['3', 'Australia'], ['4', 'India'], ['5', 'Pakistan'], ['6', 'South Africa'], ['7', 'Bangladesh'], ['8', 'Sri Lanka'], ['9', 'Afghanistan'], ['10', 'West Indies'], ['11', 'Ireland'], ['12', 'Scotland'], ['13', 'Zimbabwe'], ['14', 'Namibia'], ['15', 'Netherlands'], ['16', 'Oman'], ['17', 'UAE'], ['18', 'U.S.A.'], ['19', 'Nepal'], ['20', 'Papua New Guinea']]

In [5]:
#Predicting next 3 teams 
import random
superleague=["West Indies","Sri Lanka","Ireland","South Africa"]
qualifiers=["Scotland","Netherlands","Zimbabwe"]
league2=["Namibia","Oman","U.A.E","Nepal"]
temp=[]
qualifierPO=["Canada","New Jersey","U.S.A.","P.N.G"]
final=[]

for i in range(1):
    res = random.choice(superleague)
    final.append(res)
    superleague.remove(res)

qualifiers.extend(superleague)

for i in range(2):
    res = random.choice(league2)
    league2.remove(res)
    temp.append(res)
        
qualifiers.extend(league2)
qualifierPO.extend(temp)

for i in range(2):
    res = random.choice(qualifierPO)
    qualifierPO.remove(res)
    qualifiers.append(res)
    
print(qualifiers)

for i in range(2):
    res = random.choice(qualifiers)
    qualifiers.remove(res)
    final.append(res)
    
print(final)

['Scotland', 'Netherlands', 'Zimbabwe', 'Sri Lanka', 'Ireland', 'South Africa', 'Namibia', 'Nepal', 'U.S.A.', 'Oman']
['West Indies', 'Sri Lanka', 'Nepal']

In [6]:
#skip canada because their is no previous records of matches
newteamabb={"West Indies":'WI',"Sri Lanka":'SL',"Ireland":'IRE',"South Africa":'SA',"Scotland":'SCO',"Netherlands":'NED',"Zimbabwe":'ZIM',"Namibia":'NAM',"Oman":'OMA',"U.A.E":'UAE',"Nepal":'NEP',"Canada":'CAN',"New Jersey":'JER',"U.S.A.":'US',"P.N.G":'PNG'}
newabb=[]
  
for i in final:
    if i in [j for j in newteamabb.keys()]:
        newabb.append(newteamabb[i])
print(newabb)

['WI', 'SL', 'NEP']

In [7]:
# India, New Zealand, England, Australia, Bangladesh, Pakistan, Afghanistan
urls = []
for i in range(2018,2023):
    url = f"https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?class=2;id={i};type=year"
    urls.append(url)
matches = []
winners = []
dict = {'Team':['India','Australia','New Zealand','England','Bangladesh','Pakistan','Afghanistan'],
        'Total_Matches':[0,0,0,0,0,0,0,0,0,0],
        'Matches_Won':[0,0,0,0,0,0,0,0,0,0],
        'Winning_Percentage':[0,0,0,0,0,0,0,0,0,0]
       }
for i in final:      #adding remaining 3 teams to the dict  
    dict['Team'].append(i)
#print(dict['Team'])
for u in urls:
        response = requests.get(u)
        htmlcontent = response.content
        soup = BeautifulSoup(htmlcontent,"html.parser")
        for row in soup.findAll('table')[0].tbody.findAll('tr'):
            first_column = row.findAll('td')[0].contents
            for f1 in first_column: 
                matches.append(f1.text)
            second_column = row.findAll('td')[1].contents
            for f2 in second_column: 
                matches.append(f2.text)
            third_column = row.findAll('td')[2].contents
            for f3 in third_column: 
                winners.append(f3.text)
for i in matches:
    for j in range(len(dict['Team'])):
        if dict['Team'][j]==i:
            dict['Total_Matches'][j]+= 1
#print(dict['Total_Matches'])
for i in winners:
    for j in range(len(dict['Team'])):
        if dict['Team'][j]==i:
            dict['Matches_Won'][j]+= 1
#print(dict['Matches_Won'])
for i in range(len(dict['Team'])):
    dict['Winning_Percentage'][i] += round((dict['Matches_Won'][i]/dict['Total_Matches'][i])*100,2)
         
new = pd.DataFrame.from_dict(dict)
# print(new['Team'])
team = [t for t in new['Team']] #list=list(new)
#print(team)
#print(res1)
rank = []
for r in range(len(list1)):
    rank.append([list1[r][0],list1[r][1]])
new['International_Ranking'] = [1,1,1,1,1,1,1,1,1,1]
print(new)
#print(rank)

          Team  Total_Matches  Matches_Won  Winning_Percentage  \
0        India             87           54               62.07
1    Australia             69           37               53.62
2  New Zealand             57           37               64.91
3      England             76           46               60.53
4   Bangladesh             68           41               60.29
5     Pakistan             61           29               47.54
6  Afghanistan             55           27               49.09
7  West Indies             82           30               36.59
8    Sri Lanka             67           26               38.81
9        Nepal             37           15               40.54

   International_Ranking
0                      1
1                      1
2                      1
3                      1
4                      1
5                      1
6                      1
7                      1
8                      1
9                      1

In [8]:
#ranking
new1=[]
abb=['IND','AUS','NZ','ENG','BAN','PAK','AFG']
abb=abb+newabb
#print(abb)
for i in new['Team']:
    for j in range(len(rank)):
        if i==rank[j][1]:
            new1.append(rank[j][0])
#print(new1)
new['International_Ranking'] = new1
new['Team_Abbreviation']=abb
print(new)

          Team  Total_Matches  Matches_Won  Winning_Percentage  \
0        India             87           54               62.07
1    Australia             69           37               53.62
2  New Zealand             57           37               64.91
3      England             76           46               60.53
4   Bangladesh             68           41               60.29
5     Pakistan             61           29               47.54
6  Afghanistan             55           27               49.09
7  West Indies             82           30               36.59
8    Sri Lanka             67           26               38.81
9        Nepal             37           15               40.54

  International_Ranking Team_Abbreviation
0                     4               IND
1                     3               AUS
2                     1                NZ
3                     2               ENG
4                     7               BAN
5                     5               PAK
6                     9               AFG
7                    10                WI
8                     8                SL
9                    19               NEP

In [9]:
x=new.drop(['Total_Matches','Matches_Won','Team_Abbreviation'],axis=1)
print(x)

          Team  Winning_Percentage International_Ranking
0        India               62.07                     4
1    Australia               53.62                     3
2  New Zealand               64.91                     1
3      England               60.53                     2
4   Bangladesh               60.29                     7
5     Pakistan               47.54                     5
6  Afghanistan               49.09                     9
7  West Indies               36.59                    10
8    Sri Lanka               38.81                     8
9        Nepal               40.54                    19

In [10]:
df1=new.drop(['Total_Matches','Matches_Won','Winning_Percentage','International_Ranking','Team_Abbreviation'],axis=1)
point=[0,0,0,0,0,0,0,0,0,0]
df1['Points'] = point

In [11]:
df1

          Team  Points
0        India       0
1    Australia       0
2  New Zealand       0
3      England       0
4   Bangladesh       0
5     Pakistan       0
6  Afghanistan       0
7  West Indies       0
8    Sri Lanka       0
9        Nepal       0

In [12]:
df1=new.drop(['Total_Matches','Matches_Won','Winning_Percentage','International_Ranking','Team_Abbreviation'],axis=1)
point=[0,0,0,0,0,0,0,0,0,0]
df1['Points'] = point

In [13]:
l7=['India','Australia','New Zealand','England','Bangladesh','Pakistan','Afghanistan'] #['Ireland', 'Zimbabwe', 'Sri Lanka']
opponents=l7
opponents.extend(final)
def p(opponents):
    global c
    c=0
    for i in range(len(opponents)):
        for j in range(i+1,len(opponents)):
            #print(opponents[i],opponents[j])       
            if new.loc[i][3]>new.loc[j][3] and int(new.loc[i][4])<int(new.loc[j][4]):
                v=df1.iloc[[i],[1]]
                df1.iloc[[i],[1]]=v+2
            elif new.loc[i][3]<new.loc[j][3] and int(new.loc[i][4])>int(new.loc[j][4]):
                v=df1.iloc[[j],[1]]
                df1.iloc[[j],[1]]=v+2
            else:
                v1=df1.iloc[[i],[1]]
                v2=df1.iloc[[j],[1]]
                df1.iloc[[i],[1]]=v1+1
                df1.iloc[[j],[1]]=v2+1
p(opponents)
print(c)

0

In [14]:
#we can compare string numeric value if and only if numbers have same no of digits 
print('12'<'11')
df1

False

          Team  Points
0        India      14
1    Australia      12
2  New Zealand      18
3      England      15
4   Bangladesh      10
5     Pakistan       8
6  Afghanistan       6
7  West Indies       1
8    Sri Lanka       4
9        Nepal       2

In [15]:
# team=[]
# points=[]
# f={}
# for i in df1['Team']:
#     team.append(i)
# for j in df1['Points']:
#     points.append(j)
# l=[]
# for i in points:
#     l.append(i)
# #print(l)
# for i in team:
#     for j in points:
#         f[i]=j
#         points.remove(j)
#         break
# x={'Team':team,'Points':l}
# x

In [16]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [17]:
spark=SparkSession.builder.getOrCreate()

In [18]:
df = spark.createDataFrame(df1)
df.show()

+-----------+------+
|       Team|Points|
+-----------+------+
|      India|    14|
|  Australia|    12|
|New Zealand|    18|
|    England|    15|
| Bangladesh|    10|
|   Pakistan|     8|
|Afghanistan|     6|
|West Indies|     1|
|  Sri Lanka|     4|
|      Nepal|     2|
+-----------+------+

In [19]:
#selecting top 4 teams
df.createOrReplaceTempView("final")
x=spark.sql("select Team,Points from final order by Points desc limit 4")
x.show()

+-----------+------+
|       Team|Points|
+-----------+------+
|New Zealand|    18|
|    England|    15|
|      India|    14|
|  Australia|    12|
+-----------+------+

In [42]:
l6=[]
df2=x.collect()
for i in df2:
    l6.append(i[0])
print(l6)

['New Zealand', 'England', 'India', 'Australia']

In [151]:
urls = []
for i in range(2010,2023):
    url = f"https://stats.espncricinfo.com/ci/engine/records/team/match_results.html?class=2;id={i};type=year"
    urls.append(url)
dict1={'Team1':[],'Team2':[],'Winner':[]}

for u in urls:
        response = requests.get(u)
        htmlcontent = response.content
        soup = BeautifulSoup(htmlcontent,"html.parser")
        for row in soup.findAll('table')[0].tbody.findAll('tr'):
            first_column = row.findAll('td')[0].contents
            for f1 in first_column: 
                dict1['Team1'].append(f1.text)
            second_column = row.findAll('td')[1].contents
            for f2 in second_column: 
                dict1['Team2'].append(f2.text)
            third_column = row.findAll('td')[2].contents
            for f3 in third_column: 
                dict1['Winner'].append(f3.text)
# v=[dict1]
# print(v)
new = pd.DataFrame.from_dict(dict1)
new

           Team1      Team2      Winner
0     Bangladesh  Sri Lanka   Sri Lanka
1          India  Sri Lanka   Sri Lanka
2     Bangladesh      India       India
3     Bangladesh  Sri Lanka   Sri Lanka
4          India  Sri Lanka       India
...          ...        ...         ...
1558     Namibia   Scotland     Namibia
1559  Bangladesh      India  Bangladesh
1560     Namibia      Nepal     Namibia
1561       Nepal   Scotland    Scotland
1562  Bangladesh      India       India

[1563 rows x 3 columns]

In [86]:
# df=spark.createDataFrame(new)
# df.show(5)

['New Zealand', 'England', 'India', 'Australia']

In [152]:
#l6=['New Zealand', 'England', 'India', 'Australia'] 
df_teams_1 = new[new['Team1'].isin(l6)]
df_teams_2 = new[new['Team2'].isin(l6)] 
df_teams = pd.concat((df_teams_1, df_teams_2)) 
df_teams.drop_duplicates(keep=False,inplace=True) 
#df_teams.head()

In [153]:
df_teams1 = df_teams.reset_index(drop=True)
df_teams1.loc[df_teams1.Winner == df_teams1.Team1,'winning_team']=1
df_teams1.loc[df_teams1.Winner == df_teams1.Team2,'winning_team']=2
df_teams1 = df_teams1.drop(['winning_team'], axis=1)
df_teams1.head()

       Team1        Team2      Winner
0  Australia  West Indies   no result
1    England   Bangladesh  Bangladesh
2    England  Netherlands     England
3      India  Netherlands       India
4  Australia        Kenya   Australia

In [154]:
u=df_teams1[(df_teams1.Winner != 'tied')]
v=u[(u.Winner != 'no result')]
v

          Team1        Team2       Winner
1       England   Bangladesh   Bangladesh
2       England  Netherlands      England
3         India  Netherlands        India
4     Australia        Kenya    Australia
5     Australia       Canada    Australia
9   New Zealand     Scotland  New Zealand
10      England     Scotland      England
11        India       U.A.E.        India
12    Australia  Afghanistan    Australia
13  New Zealand  Afghanistan  New Zealand
14        India     Zimbabwe        India
15    Australia     Scotland    Australia
18    Australia      Ireland    Australia
23      England  Afghanistan      England
24    Australia   Bangladesh    Australia
25    Australia     Zimbabwe     Zimbabwe
26        Kenya  New Zealand  New Zealand
28       Canada  New Zealand  New Zealand
31     Scotland    Australia    Australia
32    Sri Lanka  New Zealand  New Zealand
35     Zimbabwe    Australia    Australia
36     Zimbabwe    Australia     Zimbabwe
37  Afghanistan      England      England
39     Scotland      England     Scotland
40    Hong Kong        India        India
44  Afghanistan  New Zealand  New Zealand
46     Pakistan    Australia    Australia
47     Scotland  New Zealand  New Zealand

In [101]:
from sklearn.model_selection import train_test_split

In [155]:
#convert team-1 and team-2 from categorical variables to continous inputs 
# Get dummy variables
final = pd.get_dummies(v, prefix=['Team1', 'Team2'], columns=['Team1', 'Team2'])
# Separate X and y sets
X = final.drop(['Winner'], axis=1)
y = final["Winner"]
# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=42)

In [144]:
final.head()

,Winner,Team1_Afghanistan,Team1_Australia,Team1_England,Team1_Hong Kong,Team1_India,Team1_Ireland,Team1_New Zealand,Team1_Pakistan,Team1_Scotland,...,Team2_Bangladesh,Team2_England,Team2_India,Team2_Ireland,Team2_New Zealand,Team2_Pakistan,Team2_Scotland,Team2_U.A.E.,Team2_West Indies,Team2_Zimbabwe
0,New Zealand,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,England,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,India,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Australia,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,New Zealand,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [132]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [156]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=0)
rf.fit(X_train, y_train) 
score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)
print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  1.000
Test set accuracy:  0.571

In [ ]:
#adding ICC rankings
#the team which is positioned higher on the ICC Ranking will be considered "favourite" for the match
#and therefore, will be positioned under the "Team_1" column

# Loading new datasets
ranking = pd.read_csv('datasets/icc_rankings.csv') 
fixtures = pd.read_csv('datasets/fixtures.csv')

# List for storing the group stage games
pred_set = []

In [157]:
# Create new columns with ranking position of each team
fixtures.insert(1, 'first_position', fixtures['Team1'].map(ranking.set_index('Team')['Position']))
fixtures.insert(2, 'second_position', fixtures['Team2'].map(ranking.set_index('Team')['Position']))

# We only need the group stage games, so we have to slice the dataset
fixtures = fixtures.iloc[:45, :]
fixtures.tail()

NameError: name 'fixtures' is not defined

In [22]:
# country=[]
# l3=[]
# res1=[]
# url = "http://www.relianceiccrankings.com/ranking/odi/batting/"
# response = requests.get(url)
# htmlcontent = response.content
# soup = BeautifulSoup(htmlcontent,"html.parser")
# for a in soup.find_all('tr'):
# #     player = soup.find_all('a',attrs={'class':'players'})
#     team = soup.find_all('img')
#     for img in team:
#         alt_tag = img.attrs['alt']    
#         if alt_tag=="ICC Cricket Rankings Logo":
#             continue
#         country.append(alt_tag)
#     break    
        
# l3.append(players)
# l3.append(country)

# res1 = list(zip(*l3))

# res=[]
# for i in range(len(res1)):
#     res.append([res1[i][0],res1[i][1]])
      
# # print(res)

In [23]:
# # res.to_csv('player_country.csv')
# import csv

# with open("output.csv", "w") as f:
#     writer = csv.writer(f)
#     writer.writerows(res)

In [24]:
# # column=['Player Name','Country']
# # s=spark.read.csv('output.csv',header=True,column=column)

# df1 = spark.read.option("inferSchema","true").csv("output.csv").toDF(
#   "Player_Name","Country"
# )

In [25]:
# df1.show()

In [26]:
# import pyspark.sql
# df1.createOrReplaceTempView("CP")
# x=spark.sql("select Country,count(Player_Name) as PC from CP group by Country")
# x.createOrReplaceTempView("CP")
# x.show()

In [27]:
# df.createOrReplaceTempView("STATS")
# d=spark.sql("select Team,Total_Matches,Matches_Won,Winning_Percentage,International_Ranking,PC from STATS , CP where STATS.Team_Abbreviation==CP.Country ")
# d.show()

In [28]:
# India, New Zealand, England, Australia, Bangladesh, Pakistan, Afghanistan


#url = # get the response in the form of html
wikiurl="https://en.wikipedia.org/wiki/List_of_cities_in_India_by_population"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)
dict = {'Team':['Sri Lanka','West Indies','Ireland','South Africa']}

response = requests.get(url)
htmlcontent = response.content
soup = BeautifulSoup(htmlcontent,"html.parser")
        
# for row in soup.findAll('table')[0].tbody.findAll('tr'):
#     print(row.text)   

# soup = BeautifulSoup(htmlcontent,"html.parser")
a = soup.find(attrs={'class':'wikitable'})
#print(a.text)
#       name=a.find('div',attrs={'class':'_4rR01T'})
#       price=a.find('div',attrs={'class':'_30jeq3 _1_WHN1'})
#       rating=a.find('div',attrs={'class':'_3LWZlK'})
#       products.append(name.text)
#       prices.append(price.text)
#       ratings.append(rating.text)
#             first_column = row.findAll('td')[0].contents
#             for f1 in first_column: 
#                 matches.append(f1.text)
#             second_column = row.findAll('td')[1].contents
#             for f2 in second_column: 
#                 matches.append(f2.text)
#             third_column = row.findAll('td')[2].contents
#             for f3 in third_column: 
#                 winners.append(f3.text)
          
            


# for i in matches:
#     for j in range(len(dict['Team'])):
#         if dict['Team'][j]==i:
#             dict['Total_Matches'][j]+= 1

            
# for i in winners:
#     for j in range(len(dict['Team'])):
#         if dict['Team'][j]==i:
#             dict['Matches_Won'][j]+= 1
            
# for i in range(len(dict['Team'])):
#     dict['Winning_Percentage'][i] += round((dict['Matches_Won'][i]/dict['Total_Matches'][i])*100,2)
            
            
# new = pd.DataFrame.from_dict(dict)
# # print(new['Team'])

# team = [t for t in new['Team']] #list=list(new)
# rank = []
# for r in range(len(res)):
#     rank.append([res[r][0],res[r][1]])

# new['International_Ranking'] = [1,1,1,1,1,1,1]
# #print(new)
# print(rank)

200

In [29]:
# get the response in the form of html
url="https://www.icc-cricket.com/cricket-world-cup-super-league/standings"
#table_class="wikitable sortable jquery-tablesorter"
response=requests.get(url)
#print(response.status_code)

# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.findAll('div',{'class':"article__content"})

df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

      0                  1        2    3     4     5          6       7  \
0  Rank               Team  Matches  Won  Lost  Tied  No result  Points
1     1  India (hosts) (Q)       21   13     6     0          2     139
2     2        New Zealand       18   12     4     0          2     130
3     2            England       18   12     5     0          1     125
4     4          Australia       18   12     6     0          0     120

        8              9
0     NRR  Penalty Overs
1  +0.782              1
2  +0.731            NaN
3  +1.219            NaN
4  +0.785            NaN

In [30]:
# drop the unwanted columns
#data = df.drop([0,2,4,5,6,8,9,3],axis=1)
# rename columns for ease
d1 = data.rename(columns={1: "Team",2:'Matches',3:'Won',4:'Lost',5:'Tied',6:'No result',7: "Points",8:'NRR',9:'Penalty Over'})
data = d1.drop([0],axis=1)
print(data.head(10))

NameError: name 'data' is not defined

In [ ]:
#data = d1.drop([0],axis=0)
print(data.head(10))

In [ ]:
pd.get_dummies(data,columns=['Team'])

In [ ]:
data.to_csv("wikitable")

In [ ]:
df=spark.read.csv('wikitable',header=True)

In [ ]:
df.show()

In [ ]:
df.createOrReplaceTempView("POINTS")
d=spark.sql("select Team,Points from POINTS where _c0>7")
d.show()